
.list_features	{
    width: 100%;
    margin-bottom: 4px;
    clear: both;
    display: table;
}

.list_features div {
    background-color: #f6f6f6;
    padding: 3px 8px;
    margin: 1px; 
}

.list_features .f_label	{
    font-weight: bold;
    width: 25%;
    border-right: 2px solid #fff;
    display: table-cell;
}

.list_features .f_text	{
    display: table-cell;
}

.agora_adaptive_settings {
    padding: 0 0 0 20px;
    margin: 0 0 20px 0;
}

.agora_adaptive_settings fieldset {
    border:1px solid #eaeaea; 
    padding: 5px 10px;
}

.agora_adaptive_settings fieldset legend {
    padding: 0px 5px;
}

.agora_adaptive_settings fieldset .elgg-field .elgg-input-single-checkbox {
    display: inline;
}

.agora_adaptive_settings fieldset .elgg-field {
    display: inline;
    margin-right: 30px;
}

.agora_adaptive_settings fieldset .elgg-field .elgg-input-single-checkbox {
    max-width:33%;
}